body {
    padding: 25px;
}

h1 {
    font-size: 3rem !important;
    font-weight: bold !important;
}

tr > th {
  vertical-align: middle;
  width: 20%;
}

thead > tr > th {
  border: 3px solidw white;
}

.table {
  border-collapse: separate;
  border-spacing: 0 3px;
}

.table th {
  vertical-align: middle !important;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

span {
  font-weight: bold;
  font-size: 2rem;
  color: #ea0a8e;
}

.column-1 {
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: bold;
}

.column-2 {
  background: black !important;
  color: white;
  border: 3px solid white !important;
  text-transform: uppercase;
}

.column-3 {
  background: #ea0a8e !important;
  color: white;
  border: 3px solid white !important;
  text-transform: uppercase;
}

.column-4 {
  background: #0d98ba !important;
  color: white;
  border: 3px solid white !important;
  text-transform: uppercase;
}
